{% trans_default_domain 'application' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ 'legal_notice.header_title'|trans }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style>
        /* dl - definition list */
        .dl > p {
            margin-bottom: 0
        }

        p > span:first-child {
            font-weight: 500;
        }

        h2 {
            margin-top: 1.2rem;
            margin-bottom: 1.2rem;
        }

        h3 {
            font-size: 1.1rem;
            margin-top: 1.1rem;
            margin-bottom: 0.8rem;
        }

        h1, h2, h3 {
            color: firebrick;
        }

    </style>
</head>
<body>
<div class="container">
    <a type="button" href="{{ path('app_legal_notice_generator') }}" class="btn btn-secondary">Précédent</a>
    <h1>Mentions légales</h1>
    <p>Conformément aux dispositions des articles 6-III et 19 de la Loi n° 2004-575 du 21 juin 2004 pour la confiance
        dans l'économie numérique, nous portons à la connaissance des utilisateurs et visiteurs du site
        <b>{{ legalNotices.domain }}</b> l'identité des différents intervenants dans le cadre de sa réalisation et de
        son suivi :
    </p>
    <h2>1. Editeur</h2>
    <div class="dl">
        {% if legalNoticeParams.isSociety == true %}
        <p>
            <span>Société : </span>
            <span>{{ legalNotices.societyOwnerName }}</span>
        </p>
        <p>
            <span>Forme juridique : </span>
            <span>{{ legalNotices.societyEntityType }}</span>
        </p>
        {% if(legalNoticeParams.isCapitalSocial) %}
            <p>
                <span>Capital social : </span>
                <span>{{ legalNotices.capitalAmount }} €</span>
            </p>
        {% endif %}
        <p>
            <span>Siège social : </span>
            <span>{{ legalNotices.ownerStreetAddress }} {{ legalNotices.ownerPostalCode }} {{ legalNotices.ownerAddressLocality }} {{ legalNotices.ownerAddressCountry }}</span>
        </p>
        {% else %}
        <p>
            <span>Nom : </span>
            <span>{{ legalNotices.individualOwnerFirstname }} {{ legalNotices.individualOwnerLastname }}</span>
        </p>
        <p>
            <span>Adresse : </span>
            <span>{{ legalNotices.ownerStreetAddress }} {{ legalNotices.ownerPostalCode }} {{ legalNotices.ownerAddressLocality }}
                {{ legalNotices.ownerAddressCountry }}</span>
        </p>
    </div>
    {% endif %}

    <h3>Contact</h3>
    <div class="dl">
        <p>
            <span>E-mail : </span>
            <span>{{ legalNotices.ownerEmail }}</span>
        </p>
        <p>
            <span>Téléphone : </span>
            <span>{{ legalNotices.ownerPhone }}</span>
        </p>
    </div>

    {% if(legalNoticeParams.isRCS == true or legalNoticeParams.isRM == true or legalNoticeParams.isVatIdentifier == true) %}
        <h3>Numéro d'identification</h3>
        <div class="dl">
            {% if(legalNoticeParams.isRCS) %}
                <p>
                    <span>Numéro d'inscripion RCS : </span>
                    <span>{{ legalNotices.dunsRcs }}</span>
                </p>
            {% endif %}
            {% if(legalNoticeParams.isRM) %}
                <p>
                    <span>Numéro d'inscripion Registre des Métiers : </span>
                    <span>{{ legalNotices.dunsRm }}</span>
                </p>
            {% endif %}
            {% if(legalNoticeParams.isVatIdentifier) %}
                <p>
                    <span>TVA Intracommunautaire : </span>
                    <span>{{ legalNotices.vatIdentifier }}</span>
                </p>
            {% endif %}
        </div>
    {% endif %}

    {% if(legalNoticeParams.isLicensedProfession) %}
        <h3>Profession réglementées</h3>
        <div class="dl">
            <p>
                <span>Titre professionnel : </span>
                <span> {{ legalNotices.licensedProfessionTitle }}</span>
            </p>
            <p>
                <span>Nom de l'ordre ou organisme d'inscription : </span>
                <span> {{ legalNotices.licensedProfessionOrganism }}</span>
            </p>
            <p>
                <span>Référence aux règles professionnelles : </span>
                <span> {{ legalNotices.licensedProfessionRef }}</span>
            </p>
            <p>
                <span>Pays de délivrance : </span>
                <span> {{ legalNotices.licensedProfessionEuState }}</span>
            </p>
        </div>
    {% endif %}

    <h2>2. Hébergement</h2>
    <p>Ce site interne est hébergé par :</p>
    <div class="dl">
        <p>
            <span>Société : </span>
            <span>{{ legalNotices.hostingName }}</span></p>
        <p>
            <span>Forme juridique : </span>
            <span>{{ legalNotices.hostingEntityType }}</span>
        </p>
        <p>
            <span>Capital social  :</span>
            <span>{{ legalNotices.hostingCapitalAmount }} €</span>
        </p>
        <p>
            <span>Siège social : </span>
            <span>{{ legalNotices.hostingStreetAddress }} {{ legalNotices.hostingPostalCode }} {{ legalNotices.hostingAddressLocality }}
                {{ legalNotices.hostingAddressCountry }}</span>
        </p>
        <p>
            <span>RCS : </span>
            <span>{{ legalNotices.hostingDunsRcs }}</span>
        </p>
        <p>
            <span>E-mail : </span>
            <span>{{ legalNotices.hostingEmail }}</span>
        </p>
        <p>
            <span>Téléphone : </span>
            <span>{{ legalNotices.hostingPhone }}</span>
        </p>
    </div>

    <h2>3. Maintenance du site</h2>
    <p>TODO Entité qui se s'occupe de la maintenance du site</p>
</div>
</body>
</html>
