{% trans_default_domain 'application' %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{{ 'legal_notice.header_title'|trans }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>{{ 'legal_notice.title'|trans }}</h1>
    <p>1 / 3 - Répondez à ces questions et poursuivre !</p>
    {{ form_start(form, {'attr' : { 'novalidate':'novalidate'}} ) }}
    <div class="form-check">
        {{ form_widget(form.isSociety) }}
        {{ form_label(form.isSociety) }}
    </div>
    <div class="form-check">
        {{ form_widget(form.isRCS) }}
        {{ form_label(form.isRCS) }}
    </div>
    <div class="form-check">
        {{ form_widget(form.isRM) }}
        {{ form_label(form.isRM) }}
    </div>
    <div class="form-check">
        {{ form_widget(form.isCapitalSocial) }}
        {{ form_label(form.isCapitalSocial) }}
    </div>
    <div class="form-check">
        {{ form_widget(form.isVatIdentifier) }}
        {{ form_label(form.isVatIdentifier) }}
    </div>
    <div class="form-check">
        {{ form_widget(form.isLicensedProfession) }}
        {{ form_label(form.isLicensedProfession) }}
    </div>
    <button type="submit" class="btn btn-primary">Poursuivre</button>
    {{ form_rest(form) }}
    {{ form_end(form) }}
</div>
</body>
</html>
